

.Logo
{
    
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.Links{
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}